<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.internship">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.test.internship.Setting_Activity"></activity>
        <activity android:name="com.test.internship.EmergencyRoom_Activity" />
        <activity android:name="com.test.internship.SkinSub_Activity" />
        <activity android:name="com.test.internship.DentalSub_Activity" />
        <activity android:name="com.test.internship.ChildSub_Activity" />
        <activity android:name="com.test.internship.NeuroSub_Activity" />
        <activity android:name="com.test.internship.BoneSub_Activity" />
        <activity android:name="com.test.internship.EyeSub_Activity" />
        <activity android:name="com.test.internship.ObstSub_Activity" />
        <activity android:name="com.test.internship.InternalSub_Activity" />
        <activity android:name="com.test.internship.ENTSub_Activity" />
        <activity android:name="com.test.internship.AllSub_Activity" />
        <activity android:name="com.test.internship.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>