<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Setting_Activity"></activity>
        <activity android:name=".EmergencyRoom_Activity" />
        <activity android:name=".SkinSub_Activity" />
        <activity android:name=".DentalSub_Activity" />
        <activity android:name=".ChildSub_Activity" />
        <activity android:name=".NeuroSub_Activity" />
        <activity android:name=".BoneSub_Activity" />
        <activity android:name=".EyeSub_Activity" />
        <activity android:name=".ObstSub_Activity" />
        <activity android:name=".InternalSub_Activity" />
        <activity android:name=".ENTSub_Activity" />
        <activity android:name=".NearbyHospital_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>